.details {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 25% 5%;
}

.details > .details-left {
    flex-basis: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.details > .details-left > img {
    height: 100px;
}
.details > .details-left > table {
    border: 5px ridge rgb(1, 91, 181);
    padding: 10px;
    width: 100%;

}

.details > .details-left > table > tbody > tr > td {
    width: 50%;
    border: 1px ridge rgb(1, 91, 181);
    padding: 5px;
}

.details > .details-left > table > tbody > tr > td > ul {
    list-style: outside;
}
.details > .details-right {
    flex-basis: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.profile-logo {
    filter: drop-shadow(0px 0px 10px rgb(0, 128, 255));
}
.details > .details-right > .images {
    /* background-color: red; */
    height: 90%;
    width: 100%;
    /* padding: 5%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    justify-items: center;
    align-items: center;
}
.details > .details-right > .images > img {
    height: 200px;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.06);
    }
}
.details > .details-right > .images > .pic {
    box-shadow: 5px 5px 5px rgb(42, 41, 41);
    border-radius: 10%;
}
.floating-up {
    opacity: 0; /* hidden by default */
    transform: translateY(50px); /* start below */
    transition: all 0.6s ease-out; /* smooth animation */
}

.floating-up.visible {
    opacity: 1;
    transform: translateY(0); /* float up to original position */
}
