.mission {
    /* border: 2px solid red; */
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(185, 217, 244);
    position: relative;
}
.mission > img {
    height: 100px;
}

.mission > .mission-notes1 {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mission > .mission-notes1 > .mission-notes1-left {
    /* border: 2px solid black; */
    flex-basis: 80%;
}
.mission > .mission-notes1 > .mission-notes1-left > ol {
    margin-left: 20px;
    font-family: "NotoSans", sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: justify;
}
.mission > .mission-notes1 > .mission-notes1-right {
    flex-basis: 20%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission > .mission-notes2 {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.mission > .mission-notes2 > .mission-notes2-left {
    /* border: 2px solid black; */
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission > .mission-notes2 > .mission-notes2-right {
    flex-basis: 80%;
    /* border: 2px solid black; */
    margin-left: 50px;
    text-align: justify;
}
.mission > .mission-notes2 > .mission-notes2-right > ol > li {
    font-family: "Mukta_Malar_bold";
}
.mission > .mission-notes1 > .mission-notes1-right > img {
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(66, 66, 67);
}

.mission > .mission-notes2 > .mission-notes2-left > img {
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(66, 66, 67);
}
