.mission {
    /* background: linear-gradient(to bottom, rgb(87, 168, 249), white, white, white, white, rgb(87, 168, 249)); */


    background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;



}



.sec-1 > ol {
    font-family: "Mukta_Malar_bold";
    /* backdrop-filter: blur(200px); */
}


.sec-2 > ol {
    font-family: "Mukta_Malar_bold";
    /* backdrop-filter: blur(200px); */
}
.mission-pic-1 {
    box-shadow: 0px 0px 20px grey;
    /* filter: drop-shadow(0px 0px 0px gold); */
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.07);
    }
}
.mission-pic-2 {
    /* width: 300px;     */

    box-shadow: 0px 0px 20px grey;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.07);
    }
}
