.mission {
    background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.sec-1 > ol {
    font-family: "Mukta_Malar_bold";
}

.sec-2 > ol {
    font-family: "Mukta_Malar_bold";
}
.mission-pic-1 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.575);
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.07);
    }
}
.mission-pic-2 {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.945);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.07);
    }
}
