.request-blood-form {
    background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.request-form {
    border-radius: 20px;
    border: 10px double dodgerblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.526);
    &:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.526);
    }
    background-color: white;
}

.request-radio{
  accent-color: #198754;
}