.service {
    background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.service > .row > .col > .card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* background-color:rgb(255, 255, 255) ; */

    box-shadow: 0px 0px 10px black;
    &:hover {
        transform: scale(1.03);
        transform: rotate(2.5deg);
    }
}
.service .card-title {
    font-family: "NotoSans";
    font-weight: bold;
    font-size: 1rem;
}

.flip-container {
    perspective: 1000px;
    width: 100%;
    position: relative;
}

.flip-card {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 10px 15px 7px rgba(16, 16, 16, 0.962);
}

@media (hover: hover) {
    .flip-container:hover .flip-card {
        transform: rotateY(180deg);
        cursor: pointer;
    }
}

.flip-front,
.flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
}

.flip-front {
    position: relative;
    z-index: 2;
}

.flip-back {
    height: 100%;
    transform: rotateY(180deg);
}

.flip-front .card,
.flip-back .card {
    height: 100%;
}
.fixed-card {
    height: 350px; /* set a fixed height for all cards */
    overflow: hidden;
}

.fixed-img {
    height: 200px; /* control image height */
    width: 100%; /* full width */
    object-fit: cover; /* crop instead of stretching */
}
.service-details {
    text-align: center;
    font-family: "Mukta_Malar_bold";
}
