.vision {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
    position: relative;

    background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}
.vision-notes > img {
    height: 100px;
}
.vision > .vision-notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.vision > .vision-notes > p {
    font-family: "Mukta_Malar_medium";
    font-size: larger;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* shift full width of first set */
    }
}
@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0); /* shift full width of first set */
    }
}

.scroll-track-right {
    display: flex;
    gap: 20px;
    animation: scroll-right 20s linear infinite;
}

.scroll-track-right img {
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.929);
}

/* Pause on hover */
.vision-pics:hover .scroll-track-right {
    animation-play-state: paused;
}
