.vision {
    /* border: 2px solid red; */
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 50px;
    /* background: linear-gradient(to bottom, rgb(87, 168, 249), white, white, white, white, rgb(87, 168, 249)); */
    position: relative;
    background-color: #e5e5f7;
    /* opacity: 0.8; */
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.vision-notes > img {
    height: 100px;
}
.vision > .vision-notes {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* padding: 10px; */
}
.vision > .vision-notes > p {
    font-family: "Mukta_Malar_medium";
    font-size: larger;
    /* font-weight: bold; */
}

.vision-pics {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    border-radius: 20px;
    /* border: 5px solid; */
}

.scroll-track {
    display: flex;
    gap: 20px;
    animation: scroll-left 20s linear infinite;
}

.scroll-track img {
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgb(62, 62, 62) ; */
}

/* Pause on hover */
.vision-pics:hover .scroll-track {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* shift full width of first set */
    }
}
@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0); /* shift full width of first set */
    }
}

.scroll-track-right {
    display: flex;
    gap: 20px;
    animation: scroll-right 20s linear infinite;
}

.scroll-track-right img {
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgb(62, 62, 62) ; */
}

/* Pause on hover */
.vision-pics:hover .scroll-track-right {
    animation-play-state: paused;
}
.top-arrow {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(1, 91, 181);
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
