.volunteer {
    /* background: linear-gradient(to bottom, rgb(87, 168, 249), white, rgb(87, 168, 249)); */
    font-family: "NotoSans";
    background-color: #e5e5f7;
    /* opacity: 0.8; */
   background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}

.volunteer > .title > img {
    height: 100px;
}

.profile-card > img {
    margin-bottom: 30px;
    height: 150px;
    box-shadow: 0px 0px 10px black;
}

.org-box {
background-color: #0d6efd;
    color: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.org-box:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0px 0px 10px black;
}

.org-connector {
    width: 4px;
    background: #007bff;
    height: 50px;
    margin: auto;
}

.org-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.volunteer2 {
    /* background: linear-gradient(to bottom, rgb(87, 168, 249), white, rgb(87, 168, 249)); */
    font-family: "NotoSans";
    background-color: #e5e5f7;
    /* opacity: 0.8; */
  background: url("../assets/bg2.jpeg");
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}
.shadow {
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: translateY(-5px) scale(1.05);
    }
}
