.volunteer-register-profile{
    height: 89vh;
    background: url("../assets/carousel-3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "NotoSan";
    height: 95vh;
    background-attachment: fixed;
}
.register-title{
   text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.947);
}
.register-content{
       text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.947);

}